# Project exclude paths
/.gradle/
/build/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/jarRepositories.xml
/.idea/libraries-with-intellij-classes.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
